<app-theme-toggle />

<!-- <app-button type="primary" size="large"> Click Me </app-button>

<app-button type="tertiary" size="medium" href="/docs"> Go to Docs </app-button>

<app-button type="secondary" size="small" [loading]="false">
  Saving...
</app-button>
<app-button icon="assets/check.svg" iconPosition="left">Hello</app-button>
<app-button icon="assets/check.svg" iconPosition="right">Goodbye</app-button> -->

<app-button type="primary" icon="assets/check.svg" iconPosition="left"
  >Hello</app-button
>
<app-button type="secondary" icon="assets/check.svg" iconPosition="left"
  >Hello</app-button
>
<app-button type="tertiary" icon="assets/check.svg" iconPosition="left"
  >Hello</app-button
>
<br />

<app-button
  type="primary"
  size="small"
  icon="assets/check.svg"
  iconPosition="left"
  >Hello</app-button
>
<app-button
  type="secondary"
  size="small"
  icon="assets/check.svg"
  iconPosition="left"
  >Hello</app-button
>
<app-button
  type="tertiary"
  size="small"
  icon="assets/check.svg"
  iconPosition="left"
  >Hello</app-button
>
<br />

<app-button
  type="primary"
  size="large"
  icon="assets/check.svg"
  iconPosition="left"
  >Hello</app-button
>
<app-button
  type="secondary"
  size="large"
  icon="assets/check.svg"
  iconPosition="left"
  >Hello</app-button
>
<app-button
  type="tertiary"
  size="large"
  icon="assets/check.svg"
  iconPosition="left"
  >Hello</app-button
>
<br />
<app-button
  type="primary"
  size="large"
  icon="assets/check.svg"
  iconPosition="right"
  >Hello</app-button
>
<app-button
  type="secondary"
  size="large"
  icon="assets/check.svg"
  iconPosition="right"
  >Hello</app-button
>
<app-button
  type="tertiary"
  size="large"
  icon="assets/check.svg"
  iconPosition="right"
  >Hello</app-button
>
<br />
<app-button [loading]="true"></app-button>
